body {
  background-color: #6BB327;
}
#Content {
  margin-top: 20%;
  margin-left: 20%;
}
tr {
  padding: 10px 10px 10px 10px;
}
td {
  padding: 10px 20px 20px 60px;
  font-family: Vardana;
  font-size: 18px;
  color:white;
}
#red {
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  box-shadow: 1px 5px 10px #888888;
}
#yellow {
  background-color: yellow;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  box-shadow: 1px 5px 10px #888888;
}
#green {
  background-color: green;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  box-shadow: 1px 5px 10px #888888;
}
#grey {
  background-color: #888888;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  box-shadow: 1px 5px 10px #888888;
}
div {
  margin: 0px 0px 0px 65px;
}
paper-dropdown::shadow #ripple,
paper-dropdown::shadow #background {
  background-color: green;
}
/*table {
  background-color: red;
  box-shadow: 10px 10px 10px #888888;
}*/
